@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .envited-gradient {
    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .bg-gradient {
    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%) no-repeat;
    background-size: cover;
  }
}

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }

  .btn-primary {
    width: 320px;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    outline: transparent;
  }

  @media screen and (max-width: 500px) {
    .btn-primary {
      width: 187px;
      height: 50px;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
